.inputPaginacion{
    width: 30px;
    height: auto;
    font-size: 0.6rem;
}

.botonPaginacion{
    --bs-btn-padding-y: 0.25rem !important;
    --bs-btn-padding-x: 0.5rem !important;
    --bs-btn-font-size: 0.5rem !important;
    --bs-btn-border-radius: 0.25rem !important;
    font-size: 0.6rem !important;
}