body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.TituloComponentes{
  background-color:#1989ff !important ;
}

.spanLetraTextoTitulo{
    color: #fff;
    font-family: Poppins,sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 43px;
}
.spanletraTextoNormal{
  color: #434351;
  font: 400 14px/20px Poppins,sans-serif;

}

.container-fluid{
  height: 43px;
}

.NavbarMargenes,.card-header {
  height: 43px;
}
