.Homes{
height: 1200px;
background-color: #e0f0f5;
}

.rowHome{
    padding-top: 20% !important;
}

.spanLetraboton{
    color: #fff;
    font-family: Poppins,sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 43px;
    align-content: center;
}